@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-container {
  @apply flex justify-center items-center;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;

  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideIn {
  animation: slideIn 0.3s ease-in-out forwards;
}
